<h1> This is working!</h1>
<form role='form' action='/food/{{this.category}}' accept-charset="utf-8" method="POST">
  <input type='text' name='foodName' placeholder='enter food here'/>
  <button type='submit'>Add Food</button>
</form>
